body {
    background-color: grey;
}

.main {
    display: grid;
    place-items: center;
}

input[type=text], input[type=password] {
    border: solid lightgrey 2px;
    width: 255px;
    height: 56px;
    outline: none;
    border-radius: 3px;
}

input:focus {
    // border: solid green 3px;
    border-color: green;
}

a {
    margin: 10px;
    width: auto;
    height: auto;
    font-size: 22px;
    padding: 10px;
    background-color: rgb(231, 87, 87);
}